header .header {
  width: 100%;
  position: fixed;
  top: left;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

header .nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

header .nav__logo,
header .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

header .nav__list {
  display: flex;
  column-gap: 2rem;
}

header .nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

header .nav__icon,
header .nav__toggle,
header .nav__close {
  display: none;
}

/* Active Link */

header .active-link,
header .nav__link:hover {
  color: var(--title-color-dark);
}

/* break point*/

@media screen and (max-width: 768px) {
  header .header {
    top: initial;
    bottom: 0;
  }

  header .nav {
    height: var(--header-height);
  }

  header .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }

  header .show_menu {
    bottom: 0; 
  }

  header .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  header .nav__icon {
    font-size: 1.2rem;
  }

  header .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  header .nav__close:hover {
    color: var(--title-color-dark);
  }

  header .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }


  header .nav__icon,
  header .nav__close,
  header .nav__toggle {
    display: block;
  } 
}

/* For small devices */
@media screen and (max-width: 350px) {
  header .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  header .nav__list {
    column-gap: 0;
  }
}